## Sample Data

The idea here is to use pandas to create some sample data for graphical display inside of Power BI. Maybe that's how we do it, we extract data, we massage it until it is right, and then we write it to OneDrive and we are done. Power BI takes it from there.

In [1]:
import pandas as pd
import numpy as np

In [3]:
from faker import Faker

In [6]:
fake = Faker()

In [19]:
sales_team = [fake.first_name() + ' ' + fake.last_name() for _ in range(10)]
df = pd.DataFrame({
    'sales': (7 + np.random.normal(1000, 300, 10)) * 1000,
    'name': sales_team,
    'username': [fake.user_name() for _ in range(10)],
})
df

          sales                name          username
0  1.216774e+06         Kelsey Huff   sanchezpatricia
1  1.101327e+06    Jeanette Mcguire            wmoore
2  1.284112e+06       Amber Edwards  raymondfrederick
3  1.047532e+06       Juan Martinez          joseph41
4  8.634570e+05       Austin Martin        danielle46
5  1.027388e+06          Kyle Smith    heatherjackson
6  1.135259e+06            Joe Cole            fjones
7  5.954041e+05  Victoria Henderson  caitlinhernandez
8  1.079440e+06       Tammy Sweeney       harrisnancy
9  4.885826e+05           Gina Rios    jacksonspencer

In [21]:
df.to_csv('sales.csv', index=False)